<div>
  <h1><%= t("profiles.title") %></h1>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :name, label: t("common.name") %>
    <%= f.input :date_start_salary,  as: :string,
            input_html: { type: t("common.date"),
            class: "form-control rounded-4",
            data: { registerform_target: "date" },
            value: Date.today }, label: t("profiles.labels.date_start_salary")  %>
    <%= f.input :salary, label: t("common.salary") %>
    <%= f.input :role_id,
              as: :select,
              collection: Role.where(id: [2, 3]),
              label_method: :description,
              value_method: :id,
              label: t("common.role"),
              required: true %>
    <div>
      <%= f.input :can_drive, label: t("profiles.labels.can_drive") %>
      <%= f.input :active, label: t("common.active") %>
    </div>
    <%= f.input :locale,
      collection: I18n.available_locales.map { |l| [l.to_s.upcase, l] },
      include_blank: "System default",
      label: t("profile.language") %>
    <%= f.button :submit, t("buttons.update"), class: "btn btn-cYellow w-100" %>
  <% end %>
  <%= link_to t("buttons.cancel"), profiles_path, class: "btn btn-cDarkGray w-100 mt-3" %>
</div>
