<%= simple_form_for @schedule do |f| %>
  <div class="d-flex justify-content-between">
    <%= f.input :from_date,  as: :string, input_html: { type: "date", class: "rounded-4", style: "width:160px;" }, label: false %>
    <%= f.input :to_date,  as: :string, input_html: { type: "date", class: "rounded-4", style: "width:160px;" }, label: false %>
  </div>
  <div>
    <%= f.input :week_days,
            as: :check_boxes,
            collection: [
              ['Segunda', 1],
              ['Terça', 2],
              ['Quarta', 3],
              ['Quinta', 4],
              ['Sexta', 5],
              ['Sábado', 6],
              ['Domingo', 0]
            ],
            item_wrapper_class: "col-6 d-flex align-items-center gap-2",
            wrapper_html: { class: "row" },
            label: "Dias da semana" %>
  </div>
  <%= f.input :profile_ids,
              as: :check_boxes,
              collection: Profile.where(company: current_user.profiles.first.company, active: true).order(:name),
              label_method: :name,
              value_method: :id,
              label: "Funcionários",
              required: true %>
  <%= f.input :gemba_id,  # agora é singular, pertence a Schedule
              as: :select,
              collection: Gemba.where(company: current_user.profiles.first.company).order(:name),
              label_method: :name,
              value_method: :id,
              prompt: "Selecione um Gemba",
              label: "Gemba",
              required: true %>
  <%= f.button :submit, "Criar Agendamento", class: "btn btn-cYellow w-100" %>
<% end %>
