<div class="flip-card" data-controller="flip">
  <div class="flip-card-inner" data-flip-target="inner">
    <div class="flip-card-front">
      <div class="d-flex justify-content-between">
        <span class="fw-bold mb-2"><%= Date.today.strftime("%d/%m/%Y") %></span>
        <i class="fa-solid fa-rotate"></i>
      </div>
      <div>
        <span class="fw-bold mb-2">Gemba:</span><span> <%= @schedule&.gemba&.name || "Sem gemba definido" %></span>
      </div>
      <div>
        <span class="fw-bold mb-2">Carro:</span><span> Hiace (José)</span>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="d-flex justify-content-between">
        <%
        registers = @registers.where(
          date: Date.current.beginning_of_month..Date.current.end_of_month
        )

        total = registers.sum(
          "salary
          + COALESCE(extra_hour, 0) * (salary / 8.0 * 1.25)
          + COALESCE(extra_cost, 0)"
        )
      %>
        <div>
          <span class="fw-bold mb-2">Dias trabalhados:</span>
          <span><%= registers.count %></span>
        </div>
        <i class="fa-solid fa-rotate"></i>
      </div>
      <div>
        <span class="fw-bold mb-2">Horas extras:</span>
        <span><%= registers.sum(:extra_hour) %>hrs</span>
      </div>
      <div>
        <span class="fw-bold mb-2">Total:</span>
        <span>¥<%= number_with_delimiter(total, delimiter: ".",separator: ",") %></span>
      </div>
    </div>
  </div>
</div>
