<div class="d-flex justify-content-end">
  <button class="btn text-cYellow fs-3 p-0" style="width:50px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
    <i class="fa-solid fa-bars"></i>
  </button>
</div>
<div class="offcanvas text-cWhite offcanvas-start" style="background-color:#212529;" data-bs-theme="dark" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close"  data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item border-0">
        <%= link_to main_path, class: "text-decoration-none text-cWhite" do %>
          <i class="fa-solid fa-house"></i> <span>Home</span>
        <% end %>
      </li>
      <li class="list-group-item border-0">
        <%= link_to new_profile_path, class: "text-decoration-none text-cWhite" do %>
          <i class="fa-solid fa-user"></i> <span>Funcionário</span>
        <% end %>
      </li>
      <li class="list-group-item border-0">
        <%= link_to new_gemba_path, class: "text-decoration-none text-cWhite" do %>
          <i class="fa-solid fa-person-digging"></i> <span>Gemba</span>
        <% end %>
      </li>
      <% if current_user.profiles&.first&.role&.id == 1  %>
        <li class="list-group-item border-0">
          <%= link_to new_company_path, class: "text-decoration-none text-cWhite" do %>
            <i class="fa-solid fa-building"></i> <span>Empresa</span>
          <% end %>
        </li>
      <% end %>
      <li class="list-group-item border-0">
        <%= link_to schedules_path, class: "text-decoration-none text-cWhite" do %>
          <i class="fa-solid fa-calendar"></i> <span>Agenda</span>
        <% end %>
      </li>
      <li class="list-group-item border-0">
        <%= link_to destroy_user_session_path,  data: { turbo_method: :delete }, class: "text-decoration-none text-cWhite" do %>
          <i class="fa-solid fa-arrow-right-from-bracket"></i> <span>Sair</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
