<div>
  <span>Olá! <%= current_user.profiles&.first&.name %></span>
  <div class="mt-3">
    <%= render "shared/flipcard" %>
  </div>
  <div class="mt-3">
    <div class="card">
      <%= simple_form_for @register, data: { controller: "buttonholder registerform" } do |f| %>
        <div class="">
          <div class="btn-group d-flex justify-content-center gap-4 mb-3" role="group" data-toggle="buttons">
            <%= f.collection_radio_buttons :period_id, Period.all, :id, :description do |b| %>
              <%= b.label(class: "btn btn-cBlue btn-period") do %>
                <%= b.radio_button(class: "btn-check", checked: (b.object == Period.first)) %> <%= b.text %>
              <% end %>
            <% end %>
          </div>
          <% date_value =
            if f.object.date.present?
              f.object.date.to_date
            elsif params.dig(:register, :date).present?
              params.dig(:register, :date)
            else
              Date.today
            end
          %>
          <%= f.input :date,  as: :string,
            input_html: { type: "date",
            class: "form-control rounded-4",
            data: { registerform_target: "date" },
            value: date_value }, label: false  %>
          <%= f.input :gemba_id,
            as: :select,
            collection: Gemba.where(company_id: current_user.profiles.first.company_id).map { |g| [g.name, g.id] },
            input_html: {
              class: "form-control rounded-4",
              data: { registerform_target: "gemba" }
            },
            label: false,
            prompt: "Selecione um Gemba" %>
          <%= f.input :custom_value,
            as: :boolean,
            label: "Valor personalizado",
            label_html: { class: "text-cWhite" },
            input_html: {
              data: { action: "change->registerform#toggleCustomValue" }
            } %>
          <div data-registerform-target="customValue" class="d-none">
            <%= f.input :custom_salary, input_html: { class: "form-control rounded-4"  }, placeholder: "Custo dia", label: false %>
          </div>
          <div class="d-flex gap-3">
            <%= f.input :extra_hour, input_html: { class: "form-control rounded-4"  }, placeholder: "Hora Extra", label: false %>
            <%= f.input :extra_cost, input_html: { class: "form-control rounded-4",  data: { registerform_target: "extraCost" } }, placeholder: "Custo Extra", label: false,
              hint: content_tag(:span, "Último valor: ¥#{@registers.first&.extra_cost || '0'}",
                class: "text-cWhite",
                data: { action: "click->registerform#copyLastValue",  last_value: @registers.first&.extra_cost || '0' })
            %>
          </div>
          <div>
            <%= f.input :note, input_html: { class: "form-control rounded-4" }, placeholder: "Observações", label: false %>
          </div>
          <%= f.hidden_field :confirmed, value: "false", data: { buttonholder_target: "hidden" } %>
          <%= f.hidden_field :duplicated_register, value: "false", id: "duplicated_register" %>
          <button type="button"
            data-buttonholder-target="button"
            data-action="mousedown->buttonholder#startHold mouseup->buttonholder#cancelHold mouseleave->buttonholder#cancelHold
            touchstart->buttonholder#startHold touchend->buttonholder#cancelHold touchcancel->buttonholder#cancelHold">
            <span class="fill" data-buttonholder-target="fill"></span>
            <span class="text">Hold to Confirm</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-3" data-controller="scheduler">
    <%= month_calendar do |date| %>
      <%
      date_schedule = @schedules.where(date: date)
      passed_without_register = date_schedule.any? && date < Date.today && @registers.where(date: date).empty?

      bg_class =
        if passed_without_register
          "bg-past-schedule"
        elsif date_schedule.any?
          has_day   = date_schedule.exists?(period_id: 1)
          has_night = date_schedule.exists?(period_id: 2)

          if has_day && has_night
            "bg-scheduled-daynight"
          elsif has_day
            "bg-scheduled-day"
          elsif has_night
            "bg-scheduled-night"
          end
        else
          ""
        end

      action_attr = date_schedule.any? ? "click->scheduler#showHint" : nil
      name_and_period =
        Gemba.arel_table[:name]
          .concat(Arel::Nodes.build_quoted(' - '))
          .concat(Period.arel_table[:description])

      gemba_for_date = @schedules
        .where(date: date)
        .joins(:gemba, :period)
        .pluck(name_and_period)
        .join("|")
    %>
      <div
      class="position-relative <%= bg_class %>"
      data-scheduler-date="<%= date %>"
      data-action="<%= action_attr %>"
      data-gemba-value="<%= gemba_for_date %>"
      tabindex="0"
      data-bs-toggle="popover"
    >
        <%= date.day %>
        <% if @registers.where(date: date).any? %>
          <div class="mt-1">
            <div class="position-absolute rounded-circle day-circle"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if flash.now[:confirm_required] %>
    <div data-controller="modal">
      <div class="modal fade" tabindex="-1" data-modal-target="modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content rounded-4">
            <div class="modal-header">
              <h5 class="modal-title">Confirmação</h5>
              <button type="button" class="btn-close" data-action="click->modal#close"></button>
            </div>
            <div class="modal-body">
              Já existe um registro para este período.
              Deseja continuar?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-cBlue"
                data-action="click->modal#confirmRegister">
                Confirmar
              </button>
              <button type="button"
                class="btn btn-secondary"
                data-action="click->modal#close">
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
