<h1>Exportar Dados</h1>
<p>Selecione um arquivo e importe os dados para o sistema.</p>
<hr>
<h2>Exportar</h2>
<%= link_to "Exportar Excel", example_export_path, class: "btn btn-primary" %>
<hr>
<h2>Exportar Mes</h2>
<%= simple_form_for :export, url: month_export_path, method: :post, as: nil, data: { turbo: false } do |f| %>
  <div class="col-auto">
    <%= f.input :month_year,
      collection: month_year_list(2022),
      prompt: "Selecione o mês" %>
  </div>
  <div class="col-auto">
    <%= f.input :profile,
      collection: current_user.profiles,
      label_method: :name,
      value_method: :id,
      prompt: "Selecione o perfil" %>
  </div>
  <div class="col-auto d-flex align-items-end">
    <%= f.button :submit, "Exportar Excel", class: "btn btn-primary" %>
  </div>
<% end %>
<hr>
