<!DOCTYPE html>
<html>
  <head>
    <title>TimeTouch2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <%= render "shared/flashes" %>
  <div class="p-3">
    <% unless current_page?(root_path) || devise_controller? %>
      <%= render "shared/menu" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
